/* Para activar las transcisiones necesitamos de un trigger/disparador*/
/* Los cuales suelen ser pseudoclases :hover :active, etc*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    background-color: rgb(216, 219, 4);
    margin: 20px;
    padding: 40px;
    text-align: center;
    clip-path: circle(50% at center) /* SIRVE PARA CREAR FIGURAS */ 
}

/* Lo que se puede hacer es darle hover al padre y que el hijo acepte los cambios*/
/* ease, ease in, ease-in-out, ease-out  ->  todas ellas varian en la curva de aceleración */
/* Si no queremos que varié podemos utilizar "linear" */
.item:hover{
    background-color: rgb(224, 209, 1);
    transition: 2s;
    clip-path: circle(20% at center);
}

/* TRANSITION POSEE 4 PROPIEDADES*/
/*
    transition-property: all; -> define que propiedades van a sufrir la transición
    transition-duration: ; -> para determinar la duración
    -o-transition-timing-function: ; -> la forma ease in, ease, ease out
    -o-transition-delay: ; -> tiempo de espera para que se ejecute una transición
*/